@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
::selection{
  background: #4158d0;
  color: #fff;
}

.wrapper  .field{
  height: 50px;
  width: 100%;
  margin-top: 15px;
  position: relative;
}
.wrapper  .field input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid blue;
  border-radius: 15px;
  transition: all 0.3s ease;
}
.wrapper  .field input:focus,
 .field input:valid{
  border-color: #4158d0;
}
.wrapper  .field label{
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
 .field input:focus ~ label,
 .field input:valid ~ label{
  top: 0%;
  font-size: 16px;
  color: #4158d0;
  background: #ffff80;
  transform: translateY(-50%);
}
 
 .content input{
  width: 15px;
  height: 15px;
  background: red;
}
 .content label{
  color: #262626;
  user-select: none;
  padding-left: 5px;
}
 
 
